.body_landing{
   background-color: blueviolet;
    background-size: cover;
}

.container_img {
    display: block;
    width: 200px;
    cursor: pointer;
}

.container {
    display: flex;
    
    justify-content: space-between;
    background-color: #cc5803;
}

.container h1 {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding-right: 300px;
}