.body_nav{
    margin: 0;
    padding: 0;

}


.body_nav .header_nav {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #faedcd;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.header_nav .logo{
    /* color: #069370; */
    color: #bc6c25;
    height: 10rem;
    font-size: 60px;
    padding: 0 20px;
    float: left;
    
}

.header_nav nav{
    float: right;
}

.clearfix {
    clear: both ;
}

.header_nav nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.header_nav nav ul li {
    list-style: none;
}

.header_nav nav ul li a{
    display: block;
    margin: 10px;
    padding: 10px 20px;
    color: #262626

}

.header_nav nav ul li a.active,.header_nav nav ul li a:hover
{
    background: #bc6c25;
    color: #fff;
    transition: 0.5s;
}

@media  (max-width: 1200px)
{
    .header_nav{
        margin: 20px ;
    }
}



/* searchBAr */


.searchBox {
    
    
    width:  20rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    margin-left: 53rem;
   
    
}



.searchBox .search {
    
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer;
   }



.searchBox input{
   
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    background: #faedcd;
    font-size: 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}






